#particleContainer {
    width: 400px;
    height: 400px;
    position: relative;
    background: black;
}
.particle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    background: black;
}